@font-face {
    font-family: "finder-icons";
    src: url(./../fonts/finder-icons.ttf) format("truetype"), url(./../fonts/finder-icons.woff) format("woff"), url(./../images/finder-icons.svg) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block
}

[class^=fi-],
[class*=" fi-"] {
    display: inline-block;
    font-family: "finder-icons" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
    line-height: 1
}

.fi-airbnb:before{
content: "\e900";
} 
.fi-behance:before{
content: "\e901";
} 
.fi-dribbble:before{
content: "\e902";
} 
.fi-dropbox:before{
content: "\e903";
} 
.fi-facebook-square:before{
content: "\e904";
} 
.fi-facebook:before{
content: "\e905";
} 
.fi-foursquare:before{
content: "\e906";
} 
.fi-github:before{
content: "\e907";
} 
.fi-google-drive:before{
content: "\e908";
} 
.fi-google-play:before{
content: "\e909";
} 
.fi-google:before{
content: "\e90a";
} 
.fi-hangouts:before{
content: "\e90b";
} 
.fi-instagram:before{
content: "\e90c";
} 
.fi-linkedin:before{
content: "\e90d";
} 
.fi-medium:before{
content: "\e90e";
} 
.fi-messenger:before{
content: "\e90f";
} 
.fi-odnoklassniki:before{
content: "\e910";
} 
.fi-paypal:before{
content: "\e911";
} 
.fi-pinterest:before{
content: "\e912";
} 
.fi-rss:before{
content: "\e913";
} 
.fi-skype:before{
content: "\e914";
} 
.fi-slack:before{
content: "\e915";
} 
.fi-snapchat:before{
content: "\e916";
} 
.fi-soundcloud:before{
content: "\e917";
} 
.fi-telegram-circle:before{
content: "\e918";
} 
.fi-telegram:before{
content: "\e919";
} 
.fi-tumblr:before{
content: "\e91a";
} 
.fi-twitch:before{
content: "\e91b";
} 
.fi-twitter:before{
content: "\e91c";
} 
.fi-viber:before{
content: "\e91d";
} 
.fi-vimeo:before{
content: "\e91e";
} 
.fi-vk:before{
content: "\e91f";
} 
.fi-wechat:before{
content: "\e920";
} 
.fi-whatsapp:before{
content: "\e921";
} 
.fi-youtube:before{
content: "\e922";
} 
.fi-alarm:before{
content: "\e923";
} 
.fi-alert-circle:before{
content: "\e924";
} 
.fi-alert-octagon:before{
content: "\e925";
} 
.fi-alert-triange:before{
content: "\e926";
} 
.fi-align-justify:before{
content: "\e927";
} 
.fi-align-left:before{
content: "\e928";
} 
.fi-align-right:before{
content: "\e929";
} 
.fi-anchor:before{
content: "\e92a";
} 
.fi-archive:before{
content: "\e92b";
} 
.fi-arrow-back-up:before{
content: "\e92c";
} 
.fi-arrow-back:before{
content: "\e92d";
} 
.fi-arrow-down:before{
content: "\e92e";
} 
.fi-arrow-forward-up:before{
content: "\e92f";
} 
.fi-arrow-forward:before{
content: "\e930";
} 
.fi-arrow-left:before{
content: "\e931";
} 
.fi-arrow-long-down:before{
content: "\e932";
} 
.fi-arrow-long-left:before{
content: "\e933";
} 
.fi-arrow-long-right:before{
content: "\e934";
} 
.fi-arrow-long-up:before{
content: "\e935";
} 
.fi-arrow-right:before{
content: "\e936";
} 
.fi-arrow-up:before{
content: "\e937";
} 
.fi-arrows-sort:before{
content: "\e938";
} 
.fi-award:before{
content: "\e939";
} 
.fi-bell-off:before{
content: "\e93a";
} 
.fi-bell-on:before{
content: "\e93b";
} 
.fi-bell:before{
content: "\e93c";
} 
.fi-bookmark-filled:before{
content: "\e93d";
} 
.fi-bookmark:before{
content: "\e93e";
} 
.fi-briefcase:before{
content: "\e93f";
} 
.fi-building:before{
content: "\e940";
} 
.fi-calendar-alt:before{
content: "\e942";
} 
.fi-calendar:before{
content: "\e943";
} 
.fi-camera-plus:before{
content: "\e944";
} 
.fi-car:before{
content: "\e945";
} 
.fi-cart:before{
content: "\e946";
} 
.fi-cash:before{
content: "\e947";
} 
.fi-chat-circle:before{
content: "\e948";
} 
.fi-chat-left:before{
content: "\e949";
} 
.fi-chat-right:before{
content: "\e94a";
} 
.fi-check-circle:before{
content: "\e94b";
} 
.fi-check:before{
content: "\e94c";
} 
.fi-checkbox-checked-alt:before{
content: "\e94d";
} 
.fi-checkbox-checked:before{
content: "\e94e";
} 
.fi-checkbox:before{
content: "\e94e";
} 
.fi-chevron-down:before{
content: "\e950";
} 
.fi-chevron-left:before{
content: "\e951";
} 
.fi-chevron-right:before{
content: "\e952";
} 
.fi-chevron-up:before{
content: "\e953";
} 
.fi-chevrons-left:before{
content: "\e954";
} 
.fi-chevrons-right:before{
content: "\e955";
} 
.fi-clock:before{
content: "\e956";
} 
.fi-cloud-download:before{
content: "\e957";
} 
.fi-cloud-upload:before{
content: "\e958";
} 
.fi-corner-down-left:before{
content: "\e959";
} 
.fi-corner-down-right:before{
content: "\e95a";
} 
.fi-corner-left-down:before{
content: "\e95b";
} 
.fi-corner-left-up:before{
content: "\e95c";
} 
.fi-corner-right-down:before{
content: "\e95d";
} 
.fi-corner-right-up:before{
content: "\e95e";
} 
.fi-corner-up-left:before{
content: "\e95f";
} 
.fi-corner-up-right:before{
content: "\e960";
} 
.fi-credit-card-off:before{
content: "\e961";
} 
.fi-credit-card:before{
content: "\e962";
} 
.fi-cup:before{
content: "\e963";
} 
.fi-dashboard:before{
content: "\e964";
} 
.fi-device-desktop:before{
content: "\e965";
} 
.fi-device-laptop:before{
content: "\e966";
} 
.fi-device-mobile:before{
content: "\e967";
} 
.fi-device-tablet:before{
content: "\e968";
} 
.fi-dislike:before{
content: "\e969";
} 
.fi-dots-horisontal:before{
content: "\e96a";
} 
.fi-dots-vertical:before{
content: "\e96b";
} 
.fi-download-file:before{
content: "\e96c";
} 
.fi-download:before{
content: "\e96d";
} 
.fi-edit:before{
content: "\e96e";
} 
.fi-expand:before{
content: "\e96f";
} 
.fi-external-link:before{
content: "\e970";
} 
.fi-eye-off:before{
content: "\e971";
} 
.fi-eye-on:before{
content: "\e972";
} 
.fi-file-clean:before{
content: "\e973";
} 
.fi-file:before{
content: "\e974";
} 
.fi-filter-alt-horizontal:before{
content: "\e975";
} 
.fi-filter-alt-vertical:before{
content: "\e976";
} 
.fi-filter-off:before{
content: "\e977";
} 
.fi-filter:before{
content: "\e978";
} 
.fi-flag:before{
content: "\e979";
} 
.fi-flame:before{
content: "\e97a";
} 
.fi-folder-minus:before{
content: "\e97b";
} 
.fi-folder-off:before{
content: "\e97c";
} 
.fi-folder-plus:before{
content: "\e97d";
} 
.fi-folder-x:before{
content: "\e97e";
} 
.fi-folder:before{
content: "\e97f";
} 
.fi-folders:before{
content: "\e980";
} 
.fi-footer:before{
content: "\e981";
} 
.fi-friends:before{
content: "\e982";
} 
.fi-geo:before{
content: "\e983";
} 
.fi-gift:before{
content: "\e984";
} 
.fi-glass:before{
content: "\e985";
} 
.fi-globe:before{
content: "\e986";
} 
.fi-grid:before{
content: "\e987";
} 
.fi-header:before{
content: "\e988";
} 
.fi-heart-filled:before{
content: "\e989";
} 
.fi-heart:before{
content: "\e98a";
} 
.fi-help:before{
content: "\e98b";
} 
.fi-home:before{
content: "\e98c";
} 
.fi-image:before{
content: "\e98d";
} 
.fi-info-circle:before{
content: "\e98e";
} 
.fi-info-square:before{
content: "\e98f";
} 
.fi-layers:before{
content: "\e990";
} 
.fi-like:before{
content: "\e991";
} 
.fi-link:before{
content: "\e992";
} 
.fi-list:before{
content: "\e993";
} 
.fi-lock:before{
content: "\e994";
} 
.fi-login:before{
content: "\e995";
} 
.fi-logout:before{
content: "\e996";
} 
.fi-mail:before{
content: "\e997";
} 
.fi-man:before{
content: "\e998";
} 
.fi-map-pin:before{
content: "\e999";
} 
.fi-map-pins:before{
content: "\e99a";
} 
.fi-map:before{
content: "\e99b";
} 
.fi-microphone:before{
content: "\e99c";
} 
.fi-minus-circle:before{
content: "\e99d";
} 
.fi-minus-square:before{
content: "\e99e";
} 
.fi-minus:before{
content: "\e99f";
} 
.fi-music:before{
content: "\e9a0";
} 
.fi-paperclip:before{
content: "\e9a1";
} 
.fi-pencil:before{
content: "\e9a2";
} 
.fi-phone:before{
content: "\e9a3";
} 
.fi-pinned:before{
content: "\e9a4";
} 
.fi-plane:before{
content: "\e9a5";
} 
.fi-play-circle:before{
content: "\e9a6";
} 
.fi-play-filled:before{
content: "\e9a7";
} 
.fi-play:before{
content: "\e9a8";
} 
.fi-plus-circle:before{
content: "\e9a9";
} 
.fi-plus-square:before{
content: "\e9aa";
} 
.fi-plus:before{
content: "\e9ab";
} 
.fi-power:before{
content: "\e9ac";
} 
.fi-refresh:before{
content: "\e9ad";
} 
.fi-reply:before{
content: "\e9ae";
} 
.fi-rotate-left:before{
content: "\e9af";
} 
.fi-rotate-right:before{
content: "\e9b0";
} 
.fi-route:before{
content: "\e9b1";
} 
.fi-search:before{
content: "\e9b2";
} 
.fi-send:before{
content: "\e9b3";
} 
.fi-settings:before{
content: "\e9b4";
} 
.fi-share:before{
content: "\e9b5";
} 
.fi-sidebar-left:before{
content: "\e9b6";
} 
.fi-sidebar-right:before{
content: "\e9b7";
} 
.fi-star-filled:before{
content: "\e9b8";
} 
.fi-star-half:before{
content: "\e9b9";
} 
.fi-star:before{
content: "\e9ba";
} 
.fi-switch-horizontal:before{
content: "\e9bb";
} 
.fi-switch-vertical:before{
content: "\e9bc";
} 
.fi-ticket:before{
content: "\e9bd";
} 
.fi-trash:before{
content: "\e9be";
} 
.fi-truck:before{
content: "\e9bf";
} 
.fi-unlock:before{
content: "\e9c0";
} 
.fi-upload-file:before{
content: "\e9c1";
} 
.fi-upload:before{
content: "\e9c2";
} 
.fi-user-check:before{
content: "\e9c3";
} 
.fi-user-minus:before{
content: "\e9c4";
} 
.fi-user-plus:before{
content: "\e9c5";
} 
.fi-user-x:before{
content: "\e9c6";
} 
.fi-user:before{
content: "\e9c7";
} 
.fi-users:before{
content: "\e9c8";
} 
.fi-video-off:before{
content: "\e9c9";
} 
.fi-video:before{
content: "\e9ca";
} 
.fi-wallet:before{
content: "\e9cb";
} 
.fi-woman:before{
content: "\e9cc";
} 
.fi-x-circle:before{
content: "\e9cd";
} 
.fi-x-square:before{
content: "\e9ce";
} 
.fi-x:before{
content: "\e9cf";
} 
.fi-zoom-in:before{
content: "\e9d0";
} 
.fi-zoom-out:before{
content: "\e9d1";
} 
.fi-accounting:before{
content: "\e9d2";
} 
.fi-apartment:before{
content: "\e9d3";
} 
.fi-bath:before{
content: "\e9d4";
} 
.fi-bed:before{
content: "\e9d5";
} 
.fi-billboard-house:before{
content: "\e9d6";
} 
.fi-cafe:before{
content: "\e9d7";
} 
.fi-calculator:before{
content: "\e9d8";
} 
.fi-cctv:before{
content: "\e9d9";
} 
.fi-cocktail:before{
content: "\e9da";
} 
.fi-computer:before{
content: "\e9db";
} 
.fi-disco-ball:before{
content: "\e9dc";
} 
.fi-dish:before{
content: "\e9dd";
} 
.fi-double-bed:before{
content: "\e9de";
} 
.fi-dumbell:before{
content: "\e9df";
} 
.fi-entertainment:before{
content: "\e9e0";
} 
.fi-gearbox:before{
content: "\e9e1";
} 
.fi-hotel-bell:before{
content: "\e9e2";
} 
.fi-house-chosen:before{
content: "\e9e3";
} 
.fi-iron:before{
content: "\e9e4";
} 
.fi-laundry:before{
content: "\e9e5";
} 
.fi-makeup:before{
content: "\e9e6";
} 
.fi-meds:before{
content: "\e9e7";
} 
.fi-museum:before{
content: "\e9e8";
} 
.fi-no-smoke:before{
content: "\e9e9";
} 
.fi-parking:before{
content: "\e9ea";
} 
.fi-pet:before{
content: "\e9eb";
} 
.fi-petrol:before{
content: "\e9ec";
} 
.fi-pie-chart:before{
content: "\e9ed";
} 
.fi-plant:before{
content: "\e9ee";
} 
.fi-real-estate-buy:before{
content: "\e9ef";
} 
.fi-real-estate-house:before{
content: "\e9f0";
} 
.fi-rent:before{
content: "\e9f1";
} 
.fi-security:before{
content: "\e9f2";
} 
.fi-shop:before{
content: "\e9f3";
} 
.fi-shopping-bag:before{
content: "\e9f4";
} 
.fi-single-bed:before{
content: "\e9f5";
} 
.fi-snowflake:before{
content: "\e9f6";
} 
.fi-spa:before{
content: "\e9f7";
} 
.fi-swimming-pool:before{
content: "\e9f8";
} 
.fi-thermometer:before{
content: "\e9f9";
} 
.fi-tv:before{
content: "\e9fa";
} 
.fi-wifi:before{
content: "\e9fb";
} 
.fi-quote:before{
content: "\e9fc";
} 
.fi-xing:before{
content: "\e9fd";
} 
.fi-discord:before{
content: "\e9fe";
} 
.fi-tiktok:before{
content: "\e9ff";
} 
.fi-education:before{
content: "\ea00";
} 